body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(imagenes/fondo.png);
    padding: 20px;
}
header h1{
color: #f44336;
text-align: center;
border: 4px dashed #f44336;
padding: 5px;
}
nav ul{
list-style-type: none;
text-align: center;
}
li{
display: block;
margin:15 px;
padding: 10px;
background-color: #ff9800;
color: white;
border: solid  2px #f44336;
}
.fila-par{
text-align: right;
}
.fila-par h2{
background-color:#ffc107 ;
padding: 5px;
color: white;
}
.fila-impar h2{
background-color: #f44336;
padding: 5px;
text-decoration-color: white;
}
.fila-par{
text-align: right;
}
p{
font-size: 24px;
font-weight: bold;
}
aside ul{
list-style: square;
font-style: italic;
}




#anuncio1{
font-style: 24px;
color: blue;
}
#anuncio2{
font-style: 24px;
color: red;
}
#anuncio3{
color: green;
}
footer{
text-align: center;
font-size: 20px;
text-decoration: overline;
}










